In [58]:
!pip3 install autokeras

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting autokeras
  Downloading autokeras-1.0.20-py3-none-any.whl (162 kB)
     |████████████████████████████████| 162 kB 24.4 MB/s
Requirement already satisfied: tensorflow>=2.8.0 in /usr/local/lib/python3.7/dist-packages (from autokeras) (2.8.2+zzzcolab20220719082949)
Collecting keras-tuner>=1.1.0
  Downloading keras_tuner-1.1.3-py3-none-any.whl (135 kB)
     |████████████████████████████████| 135 kB 62.2 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from autokeras) (1.3.5)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from autokeras) (21.3)
Requirement already satisfied: tensorboard in /usr/local/lib/python3.7/dist-packages (from keras-tuner>=1.1.0->autokeras) (2.8.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from keras-tuner>=1.1.0->autokeras) (1.21.6)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from keras-tuner>=1.1.0->autokeras) (2.23.0)
Collecting kt-legacy
  Downloading kt_legacy-1.0.4-py3-none-any.whl (9.6 kB)
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from keras-tuner>=1.1.0->autokeras) (7.9.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.8.0->autokeras) (0.26.0)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.8.0->autokeras) (1.15.0)
Requirement already satisfied: keras-preprocessing>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.8.0->autokeras) (1.1.2)
Requirement already satisfied: keras<2.9,>=2.8.0rc0 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.8.0->autokeras) (2.8.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.8.0->autokeras) (1.1.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.8.0->autokeras) (3.1.0)
Requirement already satisfied: gast>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.8.0->autokeras) (0.5.3)
Requirement already satisfied: absl-py>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.8.0->autokeras) (1.2.0)
Requirement already satisfied: libclang>=9.0.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.8.0->autokeras) (14.0.6)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.8.0->autokeras) (57.4.0)
Requirement already satisfied: tensorflow-estimator<2.9,>=2.8 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.8.0->autokeras) (2.8.0)
Requirement already satisfied: flatbuffers>=1.12 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.8.0->autokeras) (2.0.7)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.8.0->autokeras) (3.17.3)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.8.0->autokeras) (1.48.1)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.8.0->autokeras) (0.2.0)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.8.0->autokeras) (1.14.1)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.8.0->autokeras) (1.6.3)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.8.0->autokeras) (3.3.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.8.0->autokeras) (4.1.1)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from astunparse>=1.6.0->tensorflow>=2.8.0->autokeras) (0.37.1)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py>=2.9.0->tensorflow>=2.8.0->autokeras) (1.5.2)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner>=1.1.0->autokeras) (1.0.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner>=1.1.0->autokeras) (0.4.6)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner>=1.1.0->autokeras) (1.35.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner>=1.1.0->autokeras) (0.6.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner>=1.1.0->autokeras) (3.4.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner>=1.1.0->autokeras) (1.8.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner>=1.1.0->autokeras) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner>=1.1.0->autokeras) (4.9)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner>=1.1.0->autokeras) (4.2.4)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner>=1.1.0->autokeras) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard->keras-tuner>=1.1.0->autokeras) (4.12.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard->keras-tuner>=1.1.0->autokeras) (3.8.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard->keras-tuner>=1.1.0->autokeras) (0.4.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner>=1.1.0->autokeras) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner>=1.1.0->autokeras) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner>=1.1.0->autokeras) (2022.6.15)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner>=1.1.0->autokeras) (1.24.3)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner>=1.1.0->autokeras) (3.2.0)
Collecting jedi>=0.10
  Downloading jedi-0.18.1-py2.py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 82.4 MB/s
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner>=1.1.0->autokeras) (0.7.5)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner>=1.1.0->autokeras) (2.0.10)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner>=1.1.0->autokeras) (2.6.1)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner>=1.1.0->autokeras) (4.8.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner>=1.1.0->autokeras) (0.2.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner>=1.1.0->autokeras) (4.4.2)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner>=1.1.0->autokeras) (5.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.10->ipython->keras-tuner>=1.1.0->autokeras) (0.8.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->keras-tuner>=1.1.0->autokeras) (0.2.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->autokeras) (3.0.9)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->autokeras) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->autokeras) (2.8.2)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython->keras-tuner>=1.1.0->autokeras) (0.7.0)
Installing collected packages: jedi, kt-legacy, keras-tuner, autokeras
Successfully installed autokeras-1.0.20 jedi-0.18.1 keras-tuner-1.1.3 kt-legacy-1.0.4

In [59]:
from pprint import pprint

import sklearn.datasets
import sklearn.metrics
import pandas as pd
import numpy as np

import autokeras as ak

LOADING DATA

In [60]:
TrainDataSet= pd.read_csv('../content/input/tweets.csv')
TrainDataSet.head()

,id,keyword,location,text,target
0,0,ablaze,NaN,"Communal violence in Bhainsa, Telangana. ""Ston...",1
1,1,ablaze,NaN,Telangana: Section 144 has been imposed in Bha...,1
2,2,ablaze,New York City,Arsonist sets cars ablaze at dealership https:...,1
3,3,ablaze,"Morgantown, WV",Arsonist sets cars ablaze at dealership https:...,1
4,4,ablaze,NaN,"""Lord Jesus, your love brings freedom and pard...",0

EXPLORATORY DATA ANALYSIS OF TW

In [61]:
Grouped_Disaster = TrainDataSet.groupby(['target'])['id'].count().reset_index()
labels = ['Disaster','Non-Disaster']
print(Grouped_Disaster)

   target    id
0       0  9256
1       1  2114

In [62]:
TrainDataSet['tweetlength'] = TrainDataSet['text'].apply(lambda x:  len(str(x)))
TrainDataSet.head(5)

,id,keyword,location,text,target,tweetlength
0,0,ablaze,NaN,"Communal violence in Bhainsa, Telangana. ""Ston...",1,125
1,1,ablaze,NaN,Telangana: Section 144 has been imposed in Bha...,1,131
2,2,ablaze,New York City,Arsonist sets cars ablaze at dealership https:...,1,63
3,3,ablaze,"Morgantown, WV",Arsonist sets cars ablaze at dealership https:...,1,87
4,4,ablaze,NaN,"""Lord Jesus, your love brings freedom and pard...",0,140

In [63]:
TrainDataSet['wordcount'] = TrainDataSet['text'].apply(lambda x:  len(str(x).split()))
TrainDataSet.head(5)

,id,keyword,location,text,target,tweetlength,wordcount
0,0,ablaze,NaN,"Communal violence in Bhainsa, Telangana. ""Ston...",1,125,19
1,1,ablaze,NaN,Telangana: Section 144 has been imposed in Bha...,1,131,23
2,2,ablaze,New York City,Arsonist sets cars ablaze at dealership https:...,1,63,7
3,3,ablaze,"Morgantown, WV",Arsonist sets cars ablaze at dealership https:...,1,87,8
4,4,ablaze,NaN,"""Lord Jesus, your love brings freedom and pard...",0,140,23

DATA CLEANING

In [64]:
TrainDataSet['text'] = TrainDataSet['text'].apply(lambda x: re.sub(r'\w+:\/{2}[\d\w-]+(\.[\d\w-]+)*(?:(?:\/[^\s/]*))*', '', str(x)))
TrainDataSet.head(3)

,id,keyword,location,text,target,tweetlength,wordcount
0,0,ablaze,NaN,"Communal violence in Bhainsa, Telangana. ""Ston...",1,125,19
1,1,ablaze,NaN,Telangana: Section 144 has been imposed in Bha...,1,131,23
2,2,ablaze,New York City,Arsonist sets cars ablaze at dealership,1,63,7

In [65]:
#REMOVE # FROM TW
TrainDataSet['text'] = TrainDataSet['text'].apply(lambda x: re.sub(r'#', '', str(x)))
TrainDataSet.head(3)

,id,keyword,location,text,target,tweetlength,wordcount
0,0,ablaze,NaN,"Communal violence in Bhainsa, Telangana. ""Ston...",1,125,19
1,1,ablaze,NaN,Telangana: Section 144 has been imposed in Bha...,1,131,23
2,2,ablaze,New York City,Arsonist sets cars ablaze at dealership,1,63,7

In [66]:
#REMOVE HTML tags FROM TW
TrainDataSet['text'] = TrainDataSet['text'].apply(lambda x: re.sub(r'<.*?>|&([a-z0-9]+|#[0-9]{1,6}|#x[0-9a-f]{1,6});', '', str(x)))
TrainDataSet.tail(3)

,id,keyword,location,text,target,tweetlength,wordcount
11367,11367,wrecked,🇵🇭,i feel directly attacked 💀 i consider moonbin ...,0,139,23
11368,11368,wrecked,auroraborealis,"ok who remember ""outcast"" nd the ""dora"" au?? T...",0,105,17
11369,11369,wrecked,NaN,Jake Corway wrecked while running 14th at IRP.,1,46,8

In [86]:
TrainDataSet.head(20)

,id,keyword,location,text,target,tweetlength,wordcount
0,0,ablaze,NaN,"Communal violence in Bhainsa, Telangana. ""Ston...",1,125,19
1,1,ablaze,NaN,Telangana: Section 144 has been imposed in Bha...,1,131,23
2,2,ablaze,New York City,Arsonist sets cars ablaze at dealership,1,63,7
3,3,ablaze,"Morgantown, WV",Arsonist sets cars ablaze at dealership,1,87,8
4,4,ablaze,NaN,"""Lord Jesus, your love brings freedom and pard...",0,140,23
5,5,ablaze,OC,"If this child was Chinese, this tweet would ha...",0,122,23
6,6,ablaze,"London, England",Several houses have been set ablaze in Ngemsib...,1,139,21
7,7,ablaze,Bharat,Asansol: A BJP office in Salanpur village was ...,1,131,24
8,8,ablaze,"Accra, Ghana","National Security Minister, Kan Dapaah's side ...",0,135,18
9,9,ablaze,Searching,This creature who’s soul is no longer clarent ...,0,127,18
10,10,ablaze,NaN,Images showing the havoc caused by the Cameroo...,1,124,19
11,11,ablaze,NaN,Social media went bananas after Chuba Hubbard ...,0,121,17
12,12,ablaze,NaN,Hausa youths set Area Office of Apapa-Iganmu L...,1,124,19
13,13,ablaze,HYDERABAD,Under MamataBanerjee political violence vanda...,1,116,16
14,14,ablaze,"Reno, NV","AMEN! Set the whole system ablaze, man.",0,63,8
15,15,ablaze,NaN,Images showing the havoc caused by the Cameroo...,1,139,19
16,16,ablaze,NaN,No cows today but our local factory is sadly s...,1,97,13
17,17,ablaze,NaN,Rengoku sets my heart ablaze😔❤️🔥 P.s. I missed...,0,121,21
18,18,ablaze,Worldwide,paulzizkaphoto: “Rundle Ablaze” Wishing you al...,0,113,11
19,19,ablaze,NaN,French cameroun set houses ablaze in Ndu and r...,1,125,21

AUTOML MODEL

In [81]:
import tensorflow as tf
import os
from sklearn.datasets import load_files

In [94]:
#separo datps de las etiquetas de los resultados


x = TrainDataSet.drop(['target'],axis=1)

y = np.array(TrainDataSet['target'])


#separo datos en trainig y test
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(x,y, test_size = 0.2)

x_train = np.array(X_train)
y_train = np.array(y_train)
x_test = np.array(X_test)
y_test = np.array(y_test)



print(x_train,y_train)

[[7905 'oil%20spill' 'Mexico City, Mexico'
  'Gov. Wolf vows to veto bill loosening rules for conventional oil and gas wells '
  102 15]
 [6336 'heat%20wave' nan
  'Those who claim current heat wave is unprecedented clearly have not bothered to do any research, as the attached…'
  113 19]
 [2503 'collided' "Moe's Tavern, Springfield"
  'Homer is driving drunk😱 and has collided with a funeral urn ⚱' 61 12]
 ...
 [10660 'upheaval' nan
  'Schools should brace for five years of upheaval from a triumphant party with Gove at its heart '
  118 18]
 [1559 'bombed' nan 'Who bombed the exhibit at the sea 😂 😂 😂 Maraga' 46
  11]
 [4505 'drowning' nan
  '“Sometimes we need to disconnect to reconnect. Taking a break is necessary to save yourself and others from drowning.” —…'
  121 20]] [0 0 0 ... 0 0 0]

In [77]:
print(x_train.shape)  # (60000, 28, 28)
print(y_train.shape)  # (60000,)
print(y_train[:3])

(9096, 6)
(9096,)
[0 0 0]

In [97]:
# Initialize the structured data classifier.
clf = ak.StructuredDataClassifier(
    overwrite=True, max_trials=3
)  # It tries 3 different models.
# Feed the structured data classifier with training data.
clf.fit(x_train, y_train, epochs=10)
# Predict with the best model.
predicted_y = clf.predict(x_test)
# Evaluate the best model with testing data.
print(clf.evaluate(x_test, y_test))

Trial 3 Complete [00h 00m 16s]
val_accuracy: 0.8294444680213928

Best val_accuracy So Far: 0.8294444680213928
Total elapsed time: 00h 00m 39s
Epoch 1/10
285/285 [==============================] - 1s 2ms/step - loss: 0.5086 - accuracy: 0.7830
Epoch 2/10
285/285 [==============================] - 1s 2ms/step - loss: 0.4756 - accuracy: 0.8130
Epoch 3/10
285/285 [==============================] - 1s 2ms/step - loss: 0.4725 - accuracy: 0.8130
Epoch 4/10
285/285 [==============================] - 1s 2ms/step - loss: 0.4702 - accuracy: 0.8130
Epoch 5/10
285/285 [==============================] - 1s 2ms/step - loss: 0.4681 - accuracy: 0.8130
Epoch 6/10
285/285 [==============================] - 0s 2ms/step - loss: 0.4660 - accuracy: 0.8130
Epoch 7/10
285/285 [==============================] - 0s 2ms/step - loss: 0.4641 - accuracy: 0.8130
Epoch 8/10
285/285 [==============================] - 1s 2ms/step - loss: 0.4623 - accuracy: 0.8130
Epoch 9/10
285/285 [==============================] - 1s 2ms/step - loss: 0.4607 - accuracy: 0.8130
Epoch 10/10
285/285 [==============================] - 1s 2ms/step - loss: 0.4590 - accuracy: 0.8130
72/72 [==============================] - 0s 1ms/step
72/72 [==============================] - 0s 2ms/step - loss: 0.4633 - accuracy: 0.8184
[0.46326079964637756, 0.8183817267417908]

evaluar red

In [104]:
res = clf.evaluate(x_test,y_test)

72/72 [==============================] - 0s 1ms/step - loss: 0.4633 - accuracy: 0.8184

Predecir nuevos resultados

In [103]:
y_pred = clf.predict(x_test)

for i in range(50):
  print("valor real: ", y_test[i])
  print("valor estimado: ", y_pred[i])
  print("---------------------------------- ")

72/72 [==============================] - 1s 12ms/step
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  1
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  1
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  1
valor estimado:  [0.]
----------------------------------
valor real:  1
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  1
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  1
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  1
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------
valor real:  0
valor estimado:  [0.]
----------------------------------